button {
  background-color: #fb8224 !important;
  background-image: none !important;
  font-weight: bold !important;
  font-size: 28px !important;
  border: solid 1px #000 !important;
  box-shadow: 0 3px 3px 0px rgba(0,0,0,0.3) !important;
}

ul {
  margin-left: 25px !important;
}

li {
    width: 250px;
    text-align: right;
}

li a {
  font-size:24px;
  font-weight:bold;
  color:#666;
}

h1 {
  font-weight: bold !important;
  font-size: 28px !important;
  letter-spacing: -1px !important;
  margin:0 0 0 0;
  color:#666 !important;
}

.section {
  margin: 10px auto;
  width: 310px;
  text-align: center;
  padding: 20px 0;
}