doctype html
html(lang="en")
  head
    title= pageTitle
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )

    link(href="css/bootstrap.min.css", rel="stylesheet")
    link(href="css/bootstrap-theme.min.css", rel="stylesheet")
  body
    h1 Jade - node template engine
    #container.col
      if youAreUsingJade
        p You are amazing
      else
        p Get on it!
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.

    script( src='js/bootstrap.min.js' )
    script( src='js/angular.min.js' )